* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 174px;
  height: 383px;
  left: 1;
  position: fixed;
  top: 0;
  z-index: -1;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 19, 0.8) 0.65%,
    #181818 100%
  );
}

.centeredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  width: 174.207px;
  z-index: 1;
}

.titulo {
  width: 298px;
  color: var(--White, #fff);
  text-align: center;
  font-size: 2.2rem;
  line-height: 40px;
  letter-spacing: -1.136px;
  margin-top: 2rem;
}

.upperTitulo {
  letter-spacing: 0.864px;
}

.paragraphMain{
  width: 298px;
  color: var(--White, #fff);
  text-align: center;
  font-size: 1.2rem;
  line-height: 40px;
  letter-spacing: -1.136px;
}
