* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;  align-items: center;
  justify-content: center;
  padding: 1.3rem;
  gap: 1.3rem;
}

.titulo {
  color: white;
  font-size: 1.5rem;
  line-height: 32px; 
  letter-spacing: -0.333px;
  z-index: 1;
}

.iconsContainer{
    display: flex;
    gap: 1.2rem;
}


